<div class="container">
  <h3>Information for <%= @client.name() %></h3>

  <h4>Update Client Name:</h4>
  <form action="/client/<%= @client.id() %>" method="post">
    <input name="_method" type="hidden" value="patch">
    <input id="new_name" name="new_name" placeholder="Enter New Name">
    <button type="submit" class="btn btn-info">Update Name</button>
  </form>
  <br>
  <form action="/client/<%= @client.id() %>" method="post">
    <input name="_method" type="hidden" value="delete">
    <button type="submit" class="btn btn-info">Delete Client from Database</button>
  </form>

  <a href="/">Return to Homepage</a>
</div>
