<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <title>Hair Salon</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Hair Salon</h1>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
